body {
  background-color: #222;
}
.header-container {
  max-width: 1442px;
  box-sizing: border-box;
  margin: 0 auto;
}
.header {
  border-radius: 15px;
  background: #777;
}
.header h2 {
  color: #f0f0f0;
  font-size: 96px;
  font-weight: 400;
  text-align: center;
}

.main-container {
  max-width: 1000px;
  box-sizing: border-box;
  margin: 0 auto;
}
.main-reviews {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 34px;
}
.review-box {
  border-radius: 15px;
  background: #d9d9d9;
  width: 468px;
  height: 611px;
  padding-left: 27px;
  padding-top: 20px;
}
.review-box h4 {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}
.review-box p {
  color: #000;
  font-size: 24px;
  font-weight: 400;
}
.adding-items {
  padding-left: 13px;
  padding-right: 13px;
  border-radius: 15px;
  background: #d9d9d9;
  width: 708px;
  height: 100%;
  overflow-y: auto;
}
.adding-items h2 {
  margin: 0;
  color: #000;
  font-size: 36px;
  font-weight: 400;
  padding-bottom: 20px;
}
.adding-items .row {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-bottom: 20px;
}
.adding-items .row h5 {
  margin: 0;
  color: #000;
  font-size: 12px;
  font-weight: 600;
}
.adding-items .row span {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.main-order input {
  border-radius: 15px;
  background: #222;
  color: #f0f0f0;
  font-size: 36px;
  font-weight: 400;
  border: none;
  width: 401px;
  height: 68px;
  padding-left: 16px;
}
.main-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.main-order button {
  width: 268px;
  height: 68px;
  color: #f0f0f0;
  font-size: 36px;
  font-weight: 400;
  border-radius: 15px;
  background: #222;
  border: none;
}
.adding-items {
  margin-top: 243px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-box {
  width: 301px;
  height: 812px;
  border-radius: 15px;
  background: #d9d9d9;
}
.item-box img {
  width: 281px;
  height: 366px;
  border-radius: 15px;
}
.des-n-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.des-n-title h2 {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  max-width: 300px;
}
.des-n-title p {
  color: #000;
  font-size: 10px;
  font-weight: 400;
  margin: 0;
}
.price {
  padding-bottom: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.price h4 {
  color: #000;
  font-size: 36px;
  font-weight: 400;
  margin: 0;
}
.center button {
  color: #f0f0f0;
  width: 281px;
  height: 68px;
  border: none;
  font-size: 36px;
  font-weight: 400;
  border-radius: 15px;
  background: #222;
}
.item-box {
  margin-top: 42px;
  padding-top: 9px;
  padding-left: 10px;
  padding-right: 10px;
}
.items-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 200px;
}
.plus-input-minus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
}
.plus-input-minus button {
  border-radius: 15px;
  background: #222;
  width: 68px;
  height: 68px;
}
.plus-input-minus input {
  border-radius: 15px;
  background: #222;
  width: 128px;
  height: 68px;
  border: none;
  color: #f0f0f0;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plus-input-minus input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
@media screen and (max-width: 1024px) {
  .main-reviews {
    flex-wrap: wrap;
    justify-content: center;
  }
  .review-box {
    width: 332px;
    height: 679px;
  }
  .adding-items {
    max-height: 100%;
  }
}
@media screen and (max-width: 980px) {
  .items-content {
    justify-content: center;
    gap: 20px;
  }
}
@media screen and (max-width: 750px) {
  .adding-items {
    width: 332px;
    height: 382px;
    margin-top: 164px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .main-order {
    flex-wrap: wrap;
  }
  .main-order input {
    width: 309.94px;
    height: 68px;
  }
  .adding-items h2 {
    padding-top: 60%;
  }
}

@media screen and (max-width: 741px) {
  .main-order {
    justify-content: center;
    gap: 10px;
  }
}
@media screen and (max-width: 450px) {
  .header h2 {
    color: #f0f0f0;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin-top: 13px;
    margin-bottom: 97px;
  }
}
